n8n-workflow.json
{
  "name": "Task Economy Decision and Payment",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "analyze",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-analyze",
      "name": "Analyze Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        160,
        220
      ]
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || $input.first().json || {};\nconst THRESHOLD = 75;\nconst ALGO_ADDRESS_REGEX = /^[A-Z2-7]{58}$/;\n\nif (!body.taskTitle || !body.taskType || !body.receiverAddress) {\n  return [{ json: { ok: false, message: 'taskTitle, taskType, and receiverAddress are required.' } }];\n}\n\nif (!ALGO_ADDRESS_REGEX.test(String(body.receiverAddress).trim())) {\n  return [{ json: { ok: false, message: 'receiverAddress must be a valid Algorand address.' } }];\n}\n\nconst normalized = {\n  taskTitle: String(body.taskTitle).trim(),\n  taskType: String(body.taskType).trim(),\n  taskBudget: Number(body.taskBudget || 0),\n  receiverAddress: String(body.receiverAddress).trim(),\n};\n\nreturn [{\n  json: {\n    ...normalized,\n    threshold: THRESHOLD,\n    prompt: `You are a professional payout decision maker for a blockchain task marketplace.\\n\\nYour job is to decide whether a submitted task is worth paying for. Evaluate the task as a disciplined operations and delivery reviewer. Focus on:\\n- business value\\n- impact\\n- execution complexity\\n- clarity of deliverables\\n- ease of verification\\n- whether the payout appears justified\\n\\nReturn STRICT JSON only with these keys:\\n- should_pay (boolean)\\n- score (number from 0 to 100)\\n- reason (string)\\n- summary (string)\\n- factors (array of short strings)\\n\\nRules:\\n- If should_pay is true, score must be >= ${THRESHOLD}.\\n- If should_pay is false, score must be < ${THRESHOLD}.\\n- The summary must explicitly say PAY or DO NOT PAY.\\n- Be decisive and professional, not vague.\\n\\nTask title: ${normalized.taskTitle}\\nTask type: ${normalized.taskType}\\nBudget ALGO: ${normalized.taskBudget}\\nReceiver address: ${normalized.receiverAddress}`\n  }\n}];"
      },
      "id": "prepare-analyze",
      "name": "Analyze Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        420,
        220
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "You are a strict professional payout-decision reviewer for Algorand task payments. Return JSON only."
            },
            {
              "role": "user",
              "content": "={{ $json.prompt }}"
            }
          ]
        },
        "options": {}
      },
      "id": "message-model",
      "name": "Message a model",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        690,
        220
      ],
      "credentials": {
        "openAiApi": {
          "id": "replace-openai-credential-id",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const THRESHOLD = 75;\nconst incoming = $('Analyze Input').first().json || {};\nconst raw = $input.first().json.text || $input.first().json.response || $input.first().json.output || $input.first().json.message || '{}';\n\nlet parsed;\ntry {\n  parsed = typeof raw === 'string' ? JSON.parse(raw) : raw;\n} catch {\n  return [{ json: { ok: false, message: 'Model returned invalid JSON.' } }];\n}\n\nlet score = Number(parsed.score);\nconst shouldPay = parsed.should_pay === true;\nif (!Number.isFinite(score)) {\n  score = shouldPay ? THRESHOLD + 5 : THRESHOLD - 5;\n}\n\nscore = Math.max(0, Math.min(100, score));\nif (shouldPay && score < THRESHOLD) score = THRESHOLD;\nif (!shouldPay && score >= THRESHOLD) score = THRESHOLD - 1;\n\nconst status = score > THRESHOLD ? 'completed' : (score === THRESHOLD ? 'completed' : 'failed');\nconst decision = status === 'completed' ? 'pay' : 'skip';\nconst decisionReason = String(parsed.reason || '').trim() || (status === 'completed'\n  ? 'AI judged this task valuable enough to justify payment.'\n  : 'AI judged this task insufficiently valuable or verifiable for payment.');\nconst summary = String(parsed.summary || '').trim() || (status === 'completed'\n  ? `AI decision: PAY. ${decisionReason} Score ${score}/100 (threshold ${THRESHOLD}).`\n  : `AI decision: DO NOT PAY. ${decisionReason} Score ${score}/100 (threshold ${THRESHOLD}).`);\nconst factors = Array.isArray(parsed.factors)\n  ? parsed.factors.map((item) => String(item)).filter(Boolean).slice(0, 6)\n  : [];\n\nreturn [{\n  json: {\n    ok: true,\n    analysis: {\n      score,\n      status,\n      decision,\n      verdict: status === 'completed' ? 'Threshold passed' : 'Threshold not met',\n      decisionReason,\n      summary,\n      factors,\n      source: 'n8n-openai',\n      taskTitle: incoming.taskTitle,\n      taskType: incoming.taskType,\n      taskBudget: incoming.taskBudget,\n      receiverAddress: incoming.receiverAddress\n    }\n  }\n}];"
      },
      "id": "build-analyze-response",
      "name": "Build Analyze Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        220
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": "={{ $json.ok ? 200 : 400 }}"
        }
      },
      "id": "respond-analyze",
      "name": "Respond Analyze",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1220,
        220
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "pay",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-pay",
      "name": "Pay Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        160,
        560
      ]
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || $input.first().json || {};\nconst THRESHOLD = 75;\n\nif (!body.taskId || !body.receiver || body.score === undefined) {\n  return [{ json: { ok: false, message: 'taskId, receiver, and score are required.' } }];\n}\n\nif (Number(body.score) < THRESHOLD || body.status !== 'completed') {\n  return [{\n    json: {\n      ok: true,\n      skipped: true,\n      message: Number(body.score) < THRESHOLD\n        ? `Score ${body.score} is below the payment threshold of ${THRESHOLD}. Payment declined.`\n        : 'Task status is not completed. Payment declined.',\n      note: {\n        taskId: String(body.taskId),\n        score: Number(body.score),\n        status: String(body.status || 'failed'),\n      },\n      receiverAddress: String(body.receiver).trim(),\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    taskId: String(body.taskId),\n    receiver: String(body.receiver).trim(),\n    score: Number(body.score),\n    status: String(body.status),\n    amountAlgo: Number(body.amountAlgo || 0.1),\n  }\n}];"
      },
      "id": "payment-gate",
      "name": "Payment Gate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        420,
        560
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.ALGORAND_PAY_SERVICE_URL }}/internal/algorand-pay",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "call-algorand-pay",
      "name": "Call Algorand API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        700,
        560
      ]
    },
    {
      "parameters": {
        "jsCode": "const paymentGate = $('Payment Gate').first().json || {};\nconst service = $input.first().json || {};\n\nif (paymentGate.skipped) {\n  return [{ json: paymentGate }];\n}\n\nif (service.skipped) {\n  return [{\n    json: {\n      ok: true,\n      skipped: true,\n      message: service.message || 'Payment declined.',\n      note: service.note || {\n        taskId: paymentGate.taskId,\n        score: paymentGate.score,\n        status: paymentGate.status,\n      },\n      receiverAddress: service.receiverAddress || paymentGate.receiver,\n    }\n  }];\n}\n\nconst txId = service.transactionId || service.txId || '';\nif (!txId) {\n  return [{\n    json: {\n      ok: false,\n      message: service.message || 'Algorand API did not return a transaction id.',\n      serviceResponse: service,\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    ok: true,\n    skipped: false,\n    transactionId: txId,\n    explorerUrl: service.explorerUrl || `https://testnet.explorer.perawallet.app/tx/${txId}`,\n    confirmedRound: service.confirmedRound || service.round || 0,\n    note: service.note || {\n      taskId: paymentGate.taskId,\n      score: paymentGate.score,\n      status: paymentGate.status,\n    },\n    receiverAddress: service.receiverAddress || paymentGate.receiver,\n  }\n}];"
      },
      "id": "build-pay-response",
      "name": "Build Pay Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        560
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": "={{ $json.ok ? 200 : 500 }}"
        }
      },
      "id": "respond-pay",
      "name": "Respond Pay",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1220,
        560
      ]
    }
  ],
  "connections": {
    "Analyze Webhook": {
      "main": [
        [
          {
            "node": "Analyze Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Input": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Build Analyze Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Analyze Response": {
      "main": [
        [
          {
            "node": "Respond Analyze",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pay Webhook": {
      "main": [
        [
          {
            "node": "Payment Gate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Payment Gate": {
      "main": [
        [
          {
            "node": "Call Algorand API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Algorand API": {
      "main": [
        [
          {
            "node": "Build Pay Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Pay Response": {
      "main": [
        [
          {
            "node": "Respond Pay",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "saveExecutionProgress": true,
    "errorWorkflow": ""
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true,
    "n8nVersion": "1.0.0"
  },
  "tags": [
    "openai",
    "algorand",
    "task-economy"
  ],
  "active": true
}
