n8n-workflow.json
{
  "name": "Task Analyze Only",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "analyze",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-analyze",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [160, 300]
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || $input.first().json || {};\nconst THRESHOLD = 75;\nconst ALGO_ADDRESS_REGEX = /^[A-Z2-7]{58}$/;\n\nif (!body.taskTitle || !body.taskType || !body.receiverAddress) {\n  return [{ json: { ok: false, message: 'taskTitle, taskType, and receiverAddress are required.' } }];\n}\n\nif (!ALGO_ADDRESS_REGEX.test(String(body.receiverAddress).trim())) {\n  return [{ json: { ok: false, message: 'receiverAddress must be a valid Algorand address.' } }];\n}\n\nconst taskTitle = String(body.taskTitle).trim();\nconst taskType = String(body.taskType).trim();\nconst taskBudget = Number(body.taskBudget || 0);\nconst receiverAddress = String(body.receiverAddress).trim();\n\nreturn [{\n  json: {\n    taskTitle,\n    taskType,\n    taskBudget,\n    receiverAddress,\n    threshold: THRESHOLD,\n    prompt: `You are a professional decision maker for a blockchain task marketplace. Decide whether the submitted task is worth paying for.\\n\\nReturn STRICT JSON only with these keys:\\n- should_pay (boolean)\\n- score (number from 0 to 100)\\n- reason (string)\\n- summary (string)\\n\\nDecision criteria:\\n- Strong reasons to PAY: high business impact, security-sensitive work, measurable delivery, clearly verifiable outcome, direct effect on core product or payment reliability.\\n- Strong reasons to DO NOT PAY: vague maintenance work, unclear value, weak ownership, low verifiability, generic cleanup, cosmetic-only tasks, or tasks described too loosely to prove meaningful impact.\\n- Tasks like 'fixing errors in console', 'minor cleanup', or similar generic debugging should usually be DO NOT PAY unless the prompt clearly explains a serious user-facing bug, production impact, or a specific verifiable result.\\n- If the task description is vague, generic, or lacks a clearly verifiable outcome, you should decide DO NOT PAY and explain that the task is too vague to justify payment.\\n\\nRules:\\n- If should_pay is true, score must be >= ${THRESHOLD}.\\n- If should_pay is false, score must be < ${THRESHOLD}.\\n- Summary must clearly say PAY or DO NOT PAY.\\n- Be decisive and concise.\\n\\nTask title: ${taskTitle}\\nTask type: ${taskType}\\nBudget ALGO: ${taskBudget}\\nReceiver address: ${receiverAddress}`\n  }\n}];"
      },
      "id": "prepare-input",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [420, 300]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "You are a strict payout decision reviewer. Return JSON only."
            },
            {
              "role": "user",
              "content": "={{ $json.prompt }}"
            }
          ]
        },
        "options": {}
      },
      "id": "message-model",
      "name": "OpenAI",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [690, 300],
      "credentials": {
        "openAiApi": {
          "id": "replace-openai-credential-id",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const THRESHOLD = 75;\nconst raw = $input.first().json.text || $input.first().json.response || $input.first().json.output || $input.first().json.message || '{}';\n\nlet parsed;\ntry {\n  parsed = typeof raw === 'string' ? JSON.parse(raw) : raw;\n} catch {\n  return [{ json: { ok: false, message: 'Model returned invalid JSON. Ensure the OpenAI node returns JSON with at least score and summary.' } }];\n}\n\nconst score = Number(parsed.score);\nif (!Number.isFinite(score)) {\n  return [{ json: { ok: false, message: 'Model output is missing a numeric score field.' } }];\n}\n\nconst normalizedScore = Math.max(0, Math.min(100, score));\nconst shouldPay = typeof parsed.should_pay === 'boolean'\n  ? parsed.should_pay\n  : normalizedScore >= THRESHOLD;\n\nif (typeof parsed.should_pay === 'boolean') {\n  if (shouldPay === true && normalizedScore < THRESHOLD) {\n    return [{ json: { ok: false, message: `Model output is inconsistent: should_pay=true but score=${normalizedScore} is below threshold ${THRESHOLD}.` } }];\n  }\n\n  if (shouldPay === false && normalizedScore >= THRESHOLD) {\n    return [{ json: { ok: false, message: `Model output is inconsistent: should_pay=false but score=${normalizedScore} meets or exceeds threshold ${THRESHOLD}.` } }];\n  }\n}\n\nconst status = normalizedScore >= THRESHOLD ? 'completed' : 'failed';\nconst decisionReason = String(parsed.reason || '').trim() || (status === 'completed'\n  ? 'The task appears strong enough to justify payment.'\n  : 'The task does not appear strong enough to justify payment.');\nconst summary = String(parsed.summary || '').trim();\n\nif (!summary) {\n  return [{ json: { ok: false, message: 'Model output is missing a summary field.' } }];\n}\n\nreturn [{\n  json: {\n    ok: true,\n    analysis: {\n      score: normalizedScore,\n      status,\n      decision: shouldPay ? 'pay' : 'skip',\n      verdict: status === 'completed' ? 'Threshold passed' : 'Threshold not met',\n      decisionReason,\n      summary,\n      source: 'n8n-openai'\n    }\n  }\n}];"
      },
      "id": "build-response",
      "name": "Code Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [960, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": "={{ $json.ok ? 200 : 400 }}"
        }
      },
      "id": "respond-webhook",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1220, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Code Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code Output": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "saveExecutionProgress": true,
    "errorWorkflow": ""
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true,
    "n8nVersion": "1.0.0"
  },
  "tags": ["openai", "task-economy"],
  "active": true
}
